.signin {
    text-align: center;
    background-image: url("./Background.jpeg");
    min-width:100%;
    min-height: 100%;
    height: 577px;
    background-size: cover;
    background-position: center;
  }