* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.dash_header > h2 {
  color: #fc3c3c;
}


.dash_header{
  display: flex;
  justify-content: space-between;
}

.dash_left {
  flex: 0.9;
  justify-content: space-evenly;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-bottom: 10px;
  padding-right: 20px;

}

.dash_stats {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dash{
   display: flex;
  justify-content: space-evenly;
}

.dash_dropdown{
  background-color: white;
}

.dash_right {
  display: flex;
  flex-direction: column;
}

.dash_right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dash_graph {
  flex-grow: 1;
}

.dash_graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 990px){
  .dash{
    flex-direction: column;
  }
}